@using SMO.Core.Entities;

@{
    var headerContructCostPL = ViewBag.Header as T_BP_CONTRUCT_COST_PL;
    if (headerContructCostPL == null)
    {
        var headerContructCostPLVerion = new T_BP_CONTRUCT_COST_PL_VERSION();
        headerContructCostPLVerion = ViewBag.Header;
        var hasVersion = ViewBag.HasVersion as bool?;
        var templateName = string.IsNullOrEmpty(headerContructCostPLVerion.TEMPLATE_CODE) ? "Dữ liệu tổng hợp" : $"{headerContructCostPLVerion.TEMPLATE_CODE} - {headerContructCostPLVerion.Template.NAME}";
        <div class="body">
            <div class="table-responsive font-13">
                <table class="table">
                    <tr>
                        <td>
                            <b>Đơn vị</b>
                            <div>@(headerContructCostPLVerion.ORG_CODE) - @(headerContructCostPLVerion.Organize?.NAME)</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Mẫu khai báo</b>
                            <div>@templateName</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Năm kế hoạch</b>
                            <div>@headerContructCostPLVerion.TIME_YEAR</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Version</b>
                            <div>@headerContructCostPLVerion.VERSION</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Người tạo</b>
                            <div>@headerContructCostPLVerion.CREATE_BY</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Ngày tạo</b>
                            <div>@(headerContructCostPLVerion.CREATE_DATE?.ToString(Global.DateTimeToStringFormat))</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
    else
    {
        var templateName = string.IsNullOrEmpty(headerContructCostPL.TEMPLATE_CODE) ? "Dữ liệu tổng hợp" : $"{headerContructCostPL.TEMPLATE_CODE} - {headerContructCostPL.Template.NAME}";
        <div class="body">
            <div class="table-responsive font-13">
                <table class="table">
                    <tr>
                        <td>
                            <b>Đơn vị</b>
                            <div>@(headerContructCostPL.ORG_CODE) - @(headerContructCostPL.Organize?.NAME)</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Mẫu khai báo</b>
                            <div>@templateName</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Năm kế hoạch</b>
                            <div>@headerContructCostPL.TIME_YEAR</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Version</b>
                            <div>@headerContructCostPL.VERSION</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Trạng thái</b>
                            <div>@Approve_Status.GetStatusText(headerContructCostPL.STATUS)</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Người tạo</b>
                            <div>@headerContructCostPL.CREATE_BY</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Ngày tạo</b>
                            <div>@(headerContructCostPL.CREATE_DATE?.ToString(Global.DateTimeToStringFormat))</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
}

