@model SMO.Service.AD.LanguageService
@{
    Model.ViewId = Guid.NewGuid().ToString();
    Model.FormId = Guid.NewGuid().ToString();
}
<div class="modal-close">
    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">✖</button>
</div>
<div class="modal-body">
    <div id='@Model.ViewId' class="content">
        @using (Ajax.BeginForm("List", null, FormDataUtils.GetAjaxOptions(Model.ViewId), new { @id = Model.FormId }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.ObjDetail.FORM_CODE)
            <div class="card">
                <div class="body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a style="padding-left:0px"><i class="material-icons col-fecon">clear_all</i> QUẢN LÝ NGÔN NGỮ CỦA FORM</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="page-function">
                            <div class="input-group page-function-search">
                                <div class="form-line">
                                    @Html.MyTextBoxFor(m => m.ObjDetail.FK_CODE, new { placeholder = "Tìm theo mã hoặc nội dung", @class = "align-center" })
                                </div>
                                <span class="input-group-addon" title="Tìm kiếm" onclick="Forms.SubmitForm('@Model.FormId')">
                                    <i class="material-icons">search</i>
                                </span>
                                <span class="input-group-addon" title="Tìm theo các chỉ tiêu khác" id="spShowMore" onclick="$('#spHideMore').toggle(); $(this).toggle(); $('.page-search-advance').toggle();">
                                    <i class="material-icons">expand_more</i>
                                </span>
                                <span class="input-group-addon" title="Ẩn các chỉ tiêu tìm kiếm khác" style="display:none;" id="spHideMore" onclick="$('#spShowMore').toggle(); $(this).toggle(); $('.page-search-advance').toggle();">
                                    <i class="material-icons">expand_less</i>
                                </span>
                                <span class="input-group-addon" title="Làm mới ô tìm kiếm" onclick="Forms.ResetForm('@Model.FormId')">
                                    <i class="material-icons">refresh</i>
                                </span>
                            </div>
                        </div>

                        <div class="page-search-advance">
                            <div class="row">
                                <div class="col-xs-4">
                                    <label for="email_address">Nội dung</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.MyTextBoxFor(m => m.ObjDetail.VALUE, new { @data_val = false })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <label for="password">Ngôn ngữ</label>
                                    <div class="form-group">
                                        @Html.MyDropDownListFor(m => m.ObjDetail.LANG, SelectListUtilities.GetDictionary(Domain.LANG.ToString(), true, true, "", "vi", false), new { @class = "selectpicker show-tick", @data_val = false })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="divResult">

                        </div>
                    </div>
                </div>
            </div>
        }

        
    </div>
    <script type="text/javascript">
        function UpdateLanguage(pkId, obj) {
            var value = $(obj).val();
            if (value == "" || value == null || value == undefined) {
                alert("Không được phép để trống nội dung!");
                $(obj).val(obj.defaultValue);
                return false;
            }
            obj.defaultValue = value;

            Forms.ShowLoading();
            var ajaxParams = {
                url: '@Url.Action("Update")',
                type: "POST",
                data: { value: value, id: pkId },
                dataType: 'json',
                success: function (response) {
                    Message.execute(response);
                }
            };
            Forms.Ajax(ajaxParams);
        }

        $(function () {
            Forms.SubmitForm('@Model.FormId');
            Forms.CompleteUI();
            Forms.SubmitByEnter("@Model.FormId");
        });
    </script>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">✖</button>
</div>



