@model IList<SMO.Core.Entities.T_CM_FILE_UPLOAD>
@{ 
    var lang = "vi";
    if (ProfileUtilities.User != null)
    {
        lang = ProfileUtilities.User.LANGUAGE;
    }

    var strTaiVe = "Tải về";
    if (lang != "vi")
    {
        strTaiVe = "Download";
    }

    var strXemOnline = "Xem online";
    if (lang != "vi")
    {
        strXemOnline = "View online";
    }

    var strMoBang = "Mở bằng ";
    if (lang != "vi")
    {
        strMoBang = "Open with ";
    }

    var strXoa = "Xóa";
    if (lang != "vi")
    {
        strXoa = "Delete";
    }

    var isRemoveFile = false;
    if (ViewData["isRemoveFile"] != null)
    {
        isRemoveFile = Convert.ToBoolean(ViewData["isRemoveFile"]);
    }
}

@foreach (var file in Model.OrderByDescending(x => x.CREATE_DATE))
{
    file.FILE_EXT = file.FILE_EXT.ToLower();

    <div class="preview-file">
        <img src="\Content\IconFileType\@SMOUtilities.GetIconOfFile(file.FILE_EXT)">
        <div class="file-info">
            <div class="file-name">@file.FILE_OLD_NAME</div>
            <div class="file-size">(@file.CREATE_BY - @file.CREATE_DATE.Value.ToString(Global.DateTimeToStringFormat)) @SMOUtilities.BytesToSize((double)file.FILE_SIZE)</div>
        </div>
        <div class="file-function">
            <a href="javascript:void(0);" class="file-function-a" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                <i class="material-icons">more_vert</i>
            </a>
            <ul class="dropdown-menu pull-right">
                @if (isRemoveFile)
                {
                    <li>
                        <a href="javascript:void(0);" onclick="RemoveFile(this,'@file.PKID')" class="waves-effect waves-block">
                            <i class="material-icons col-fecon">close</i> @strXoa
                        </a>
                    </li>
                }
                <li>
                    <a href="javascript:void(0);" onclick="DownloadFile('@file.PKID')" class="waves-effect waves-block">
                        <i class="material-icons col-fecon">cloud_download</i> @strTaiVe
                    </a>
                </li>
                @if (file.FILE_EXT == ".xlsx" || file.FILE_EXT== ".xls" || file.FILE_EXT == ".csv")
                {
                    <li>
                        <a href="javascript:void(0);" onclick="PreviewFile('@file.PKID')" class="waves-effect waves-block">
                            <i class="material-icons col-fecon">search</i> @strXemOnline
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0);" onclick="OpenApplication('@file.PKID', '@file.FILE_EXT')" class="waves-effect waves-block">
                            <img style="width: 22px" src="\Content\IconFileType\@SMOUtilities.GetIconOfFile(file.FILE_EXT)"> @strMoBang EXCEL
                        </a>
                    </li>
                }

                @if (file.FILE_EXT == ".docx" || file.FILE_EXT == ".doc")
                {
                    <li>
                        <a href="javascript:void(0);" onclick="PreviewFile('@file.PKID')" class="waves-effect waves-block">
                            <i class="material-icons col-fecon">search</i> @strXemOnline
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0);" onclick="OpenApplication('@file.PKID', '@file.FILE_EXT')" class="waves-effect waves-block">
                            <img style="width: 22px" src="\Content\IconFileType\@SMOUtilities.GetIconOfFile(file.FILE_EXT)"> @strMoBang WORD
                        </a>
                    </li>
                }

                @if (file.FILE_EXT == ".ppt" || file.FILE_EXT == ".pptx")
                {
                    <li>
                        <a href="javascript:void(0);" onclick="PreviewFile('@file.PKID')" class="waves-effect waves-block">
                            <i class="material-icons col-fecon">search</i> @strXemOnline
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0);" onclick="OpenApplication('@file.PKID', '@file.FILE_EXT')" class="waves-effect waves-block">
                            <img style="width: 22px" src="\Content\IconFileType\@SMOUtilities.GetIconOfFile(file.FILE_EXT)"> @strMoBang POWERPOINT
                        </a>
                    </li>
                }

                @if (file.FILE_EXT == ".pdf")
                {
                    <li>
                        <a href="javascript:void(0);" onclick="PreviewFile('@file.PKID')" class="waves-effect waves-block">
                            <i class="material-icons col-fecon">search</i> @strXemOnline
                        </a>
                    </li>
                }

                @if (file.FILE_EXT == ".jpg" || file.FILE_EXT == ".png" || file.FILE_EXT == ".bmp" || file.FILE_EXT == ".jpeg")
                {
                    <li>
                        <a href="javascript:void(0);" onclick="PreviewFile('@file.PKID')" class="waves-effect waves-block">
                            <i class="material-icons col-fecon">search</i> @strXemOnline
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
}
