@model SMO.Service.MD.MaterialTypeService
@{
    Model.ViewId = Guid.NewGuid().ToString();
    Model.FormId = Guid.NewGuid().ToString();
}
<div id='@Model.ViewId' class="container-fluid child-content">
    @using (Ajax.BeginForm("Create", null, FormDataUtils.GetAjaxOptions(Model.ViewId), new { @id = Model.FormId }))
    {
        @Html.AntiForgeryToken()
        <div class="card border-grey">
            <div class="body" style="padding-top: 0px;">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a style="padding-left:0px"><i class="material-icons col-fecon">clear_all</i> TẠO MỚI LOẠI HÀNG HÓA</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="page-function">
                        <div class="page-function-button m-r-20">
                            @Html.MyButton("cmdBack", "Quay lại", string.Format("Forms.Close('{0}');", @Model.ViewId), "Alt+N", "arrow_back")
                            @Html.MyButton("cmdSave", "Lưu lại", string.Format("Forms.SubmitForm('{0}');", @Model.FormId), "Alt+N", "done_all")
                        </div>
                    </div>

                    <div class="row m-t-20">
                        <div class="col-xs-1"></div>
                        <div class="col-lg-7 col-xs-10">
                            <label>Mã</label>
                            <div class="form-group">
                                <div class="form-line">
                                    @Html.MyTextBoxFor(m => m.ObjDetail.CODE)
                                </div>
                                @Html.ValidationMessageFor(m => m.ObjDetail.CODE)
                            </div>

                            <label>Tên</label>
                            <div class="form-group">
                                <div class="form-line">
                                    @Html.MyTextBoxFor(m => m.ObjDetail.TEXT)
                                </div>
                                @Html.ValidationMessageFor(m => m.ObjDetail.TEXT)
                            </div>

                            <label>Tên tiếng anh</label>
                            <div class="form-group">
                                <div class="form-line">
                                    @Html.MyTextBoxFor(m => m.ObjDetail.TEXT_EN)
                                </div>
                                @Html.ValidationMessageFor(m => m.ObjDetail.TEXT_EN)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    }
    <script type="text/javascript">
        $(function () {
            Forms.CompleteUI();
        });
    </script>
</div>
