@model IEnumerable<SMO.Core.Entities.T_BP_CONTRUCT_COST_PL_HISTORY>
@{
    var viewId = Guid.NewGuid().ToString();
}

<div id='@viewId'>
    <table class="table table-nowrap font-13">
        <thead>
            <tr>
                <th class="align-center">Version</th>
                <th class="align-center">Người dùng</th>
                <th class="align-center">Hành động</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderByDescending(x => x.ACTION_DATE))
            {
                <tr>
                    <td class="align-center">
                        @item.VERSION
                    </td>
                    <td class="align-center">
                        @item.ACTION_USER
                    </td>
                    <td class="align-center">
                        @Approve_Action.GetStatusText(item.ACTION)
                        <div>@item.ACTION_DATE.ToString(Global.DateTimeToStringFormat)</div>
                    </td>
                    <td class="align-center">
                        @Html.MyButton("cmdBack", "", $"ViewDataVersion({item.VERSION}, '{item.ACTION_USER}');", "Alt+N", "search")
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

