@model SMO.Service.BP.OtherCostCFService
@{
    Model.ViewId = Guid.NewGuid().ToString();
    Model.FormId = Guid.NewGuid().ToString();
}
<div id='@Model.ViewId' class="modal-body">
    <div class="content">
        @using (Ajax.BeginForm("DataFlowTree", null, FormDataUtils.GetAjaxOptions(Model.ViewId), new { @id = Model.FormId }))
        {
            @Html.HiddenFor(x => x.ObjDetail.ORG_CODE)
            @Html.HiddenFor(x => x.ObjDetail.TIME_YEAR)
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.FormId)
            <div class="card">
                <div class="body" style="padding-top: 0px;">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a style="padding-left:0px" class="text-uppercase"><i class="material-icons col-fecon">clear_all</i>Xem dòng dữ liệu được tổng hợp</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <label>Đơn vị tổng hợp: </label> @(Model.ObjDetail.ORG_CODE) - @(Model.ObjDetail.Organize?.NAME)<br />
                        <label>Năm tổng hợp: </label> @(Model.ObjDetail.TIME_YEAR)<br />
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="content">
                                <div class="body">
                                    <div id="divResult">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <script type="text/javascript">

        $(function () {
            Forms.CompleteUI();
            Forms.SubmitByEnter("@Model.FormId");
            if ($('#@Model.ViewId #ObjDetail_ORG_CODE').val()) {
                Forms.SubmitForm('@Model.FormId');
            }
        });
        </script>
        <div class="clearfix"></div>
        <div class="modal-footer">
            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Đóng</button>
        </div>
    </div>
</div>
