@model SMO.Service.MD.ConfigTableauService
@{
    Model.ViewId = Guid.NewGuid().ToString();
    Model.FormId = Guid.NewGuid().ToString();
    var config = new SMO.Service.AD.SystemConfigService();
    config.GetConfig();
}

<div id='@Model.ViewId' class="container-fluid child-content" style="height: 100%; width: 100%">
    <script type='text/javascript' src='@($"{config.ObjDetail.TABLEAU_SERVER_PROTOCOL}://{config.ObjDetail.TABLEAU_SERVER_URL}")/javascripts/api/viz_v1.js'></script>
    <div class="card border-grey" style="height: 100%; width: 100%">
        <object class='tableauViz' style='display:none; width: 100%; height: 100%;'>
            <param name='host_url' value='@($"{config.ObjDetail.TABLEAU_SERVER_PROTOCOL}://{config.ObjDetail.TABLEAU_SERVER_URL}/")' />
            <param name='embed_code_version' value='3' />
            <param name='site_root' value='' />
            <param name='name' value='@(Model.ObjDetail.VIEW_CONTENT_URL)' />
            <param name='tabs' value='yes' />
            <param name='toolbar' value='no' />
            <param name='showAppBanner' value='false' />
            @*<param name="ticket" value="@ViewBag.Ticket" />*@
            <param name='filter' value='iframeSizedToWindow=true&:refresh=true' />
        </object>
    </div>
</div>
