@model SMO.Service.AD.UserGroupService

<div class="table-responsive">
    <table class="table table-condensed table-striped table-bordered">
        <thead>
            <tr>
                <th width="20px" class="align-center">
                    <input type="checkbox" id="chkAllUserOfGroup" onclick="Forms.CheckAll('chkItemUserOfGroup', '#chkAllUserOfGroup');" style="margin:0;" class="filled-in" />
                    <label for="chkAllUserOfGroup"></label>
                </th>
                <th>Tên đăng nhập</th>
                <th>Họ tên</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ObjDetail.ListUserUserGroup.OrderBy(x => x.USER_NAME))
            {
                <tr>
                    <td>
                        <input type="checkbox" class="filled-in chkItemUserOfGroup" name="chkItemUserOfGroup" id="@("chkItemUserOfGroup" + item.USER_NAME)" modelId="@item.USER_NAME" style="margin:0;" />
                        <label for="@("chkItemUserOfGroup" + item.USER_NAME)"></label>
                    </td>
                    <td>@item.User.USER_NAME</td>
                    <td>@item.User.FULL_NAME</td>
                </tr>
            }
        </tbody>
    </table>
</div>





