@using SMO.Core.Entities;

@{
    var headerContructCostCF = ViewBag.Header as T_BP_CONTRUCT_COST_CF;
    if (headerContructCostCF == null)
    {
        var headerContructCostCFVersion = new T_BP_CONTRUCT_COST_CF_VERSION();
        headerContructCostCFVersion = ViewBag.Header;
        var hasVersion = ViewBag.HasVersion as bool?;
        var templateName = string.IsNullOrEmpty(headerContructCostCFVersion.TEMPLATE_CODE) ? "Dữ liệu tổng hợp" : $"{headerContructCostCFVersion.TEMPLATE_CODE} - {headerContructCostCFVersion.Template.NAME}";
        <div class="body">
            <div class="table-responsive font-13">
                <table class="table">
                    <tr>
                        <td>
                            <b>Đơn vị</b>
                            <div>@(headerContructCostCFVersion.ORG_CODE) - @(headerContructCostCFVersion.Organize?.NAME)</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Mẫu khai báo</b>
                            <div>@templateName</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Năm kế hoạch</b>
                            <div>@headerContructCostCFVersion.TIME_YEAR</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Version</b>
                            <div>@headerContructCostCFVersion.VERSION</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Người tạo</b>
                            <div>@headerContructCostCFVersion.CREATE_BY</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Ngày tạo</b>
                            <div>@(headerContructCostCFVersion.CREATE_DATE?.ToString(Global.DateTimeToStringFormat))</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
    else
    {
        var templateName = string.IsNullOrEmpty(headerContructCostCF.TEMPLATE_CODE) ? "Dữ liệu tổng hợp" : $"{headerContructCostCF.TEMPLATE_CODE} - {headerContructCostCF.Template.NAME}";
        <div class="body">
            <div class="table-responsive font-13">
                <table class="table">
                    <tr>
                        <td>
                            <b>Đơn vị</b>
                            <div>@(headerContructCostCF.ORG_CODE) - @(headerContructCostCF.Organize?.NAME)</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Mẫu khai báo</b>
                            <div>@templateName</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Năm kế hoạch</b>
                            <div>@headerContructCostCF.TIME_YEAR</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Version</b>
                            <div>@headerContructCostCF.VERSION</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Trạng thái</b>
                            <div>@Approve_Status.GetStatusText(headerContructCostCF.STATUS)</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Người tạo</b>
                            <div>@headerContructCostCF.CREATE_BY</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Ngày tạo</b>
                            <div>@(headerContructCostCF.CREATE_DATE?.ToString(Global.DateTimeToStringFormat))</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
}

