@model SMO.Service.BP.ContructCostCFService
@{
    Model.ViewId = Guid.NewGuid().ToString();
    Model.FormId = Guid.NewGuid().ToString();
}
<div id='@Model.ViewId' class="container-fluid child-content">
    @using (Ajax.BeginForm("ImportExcel", null, FormDataUtils.GetAjaxOptions(Model.ViewId), new { @id = Model.FormId, @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ObjDetail.TIME_YEAR)
        <div class="card border-grey">
            <div class="body" style="padding-top: 0px;">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a style="padding-left:0px"><i class="material-icons col-fecon">clear_all</i> @ProfileUtilities.User.Organize.NAME.ToUpper() NHẬP KẾ HOẠCH NĂM @Model.ObjDetail.TIME_YEAR</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="page-function">
                        <div class="page-function-button m-r-20">
                            @Html.MyButton("cmdBack", "Quay lại", string.Format("Forms.Close('{0}');", @Model.ViewId), "Alt+N", "arrow_back")
                            @Html.MyButton("cmdSave", "Nhập dữ liệu", "SubmitImportExcel();", "Alt+N", "done_all")
                        </div>
                    </div>

                    <div class="row m-t-20">
                        <div class="col-xs-1"></div>
                        <div class="col-lg-7 col-xs-10">
                            
                            <label>Chọn mẫu khai báo</label>
                            <div class="form-group">
                                <div class="form-line">
                                    @Html.MyDropDownListFor(x => x.ObjDetail.TEMPLATE_CODE,
                                    SelectListUtilities.GetTemplateOfOrg(ProfileUtilities.User.ORGANIZE_CODE, BudgetType.DongTien, ElementType.ChiPhi, TemplateObjectType.DevelopProject),
                                        new
                                        {
                                            @class = "selectpicker show-tick",
                                            @data_live_search = "true",
                                            @data_container = "body"
                                        })
                                </div>
                            </div>

                            <label>Chọn file</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="file" accept=".xls, .xlsx" id="files" name="files" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <script type="text/javascript">
        $(function () {
            Forms.CompleteUI();
        });

        function SubmitImportExcel() {
            var formData = new FormData($('#@Model.FormId')[0]);
            //var file = document.getElementById("files").files[0];
            //formData.append("files", file);
            Forms.ShowLoading();
            $.ajax({
                type: "POST",
                url: '@Url.Action("ImportExcel")',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    Message.execute(response);
                    Forms.HideLoading();
                },
                error: Forms.AjaxErrorHandler
            });
        }
    </script>
</div>
