@model SMO.Service.MD.ProfitCenterService
@{
    Model.ViewId = Guid.NewGuid().ToString();
    Model.FormId = Guid.NewGuid().ToString();
}
<div id='@Model.ViewId' class="container-fluid child-content">
    @using (Ajax.BeginForm("List", null, FormDataUtils.GetAjaxOptions(Model.ViewId), new { @id = Model.FormId }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.FormId)
        <div class="card border-grey">
            <div class="body" style="padding-top: 0px;">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a style="padding-left:0px"><i class="material-icons col-fecon">clear_all</i> DANH SÁCH LOẠI HÌNH SẢN PHẨM (PROFIT CENTER)</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="page-function">
                        <div class="page-function-button m-r-20" style="float:left">
                            @Html.MyButton("cmdSyn", "Đồng bộ", string.Format("Forms.SynchronizeMD('{0}');", Url.Action("Synchronize")), "Đồng bộ danh mục từ SAP", "sync")
                        </div>

                        <div class="input-group page-function-search">
                            <div class="form-line">
                                @Html.MyTextBoxFor(m => m.ObjDetail.CODE, new { placeholder = "Tìm kiếm theo mã hoặc tên", @class = "align-center", @data_val = false })
                            </div>

                            <span class="input-group-addon" title="Tìm kiếm" onclick="Forms.SubmitForm('@Model.FormId')">
                                <i class="material-icons">search</i>
                            </span>
                            <span class="input-group-addon" title="Làm mới ô tìm kiếm" onclick="Forms.ResetForm('@Model.FormId')">
                                <i class="material-icons">refresh</i>
                            </span>
                        </div>
                    </div>

                    <div id="divResult">

                    </div>
                </div>
            </div>
        </div> 
    }

    <script type="text/javascript">
        function SubmitIndex() {
            Forms.SubmitForm('@Model.FormId');
        }

        $(function () {
            Forms.SubmitForm('@Model.FormId');
            Forms.CompleteUI();
            Forms.SubmitByEnter("@Model.FormId");
        });
    </script>
</div>


