@model SMO.Service.MD.ProfitCenterService
@{
    var number = 1;
}
 
@{ Html.RenderPartial("Paging", Model); }

<div class="table-responsive">
    <table class="table table-condensed table-bordered table-striped">
        <thead>
            <tr>
                <th style="max-width: 120px;">Mã</th>
                <th>Tên</th>
                <th>Công ty</th>
                <th>Dự án</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ObjList)
            {
                number++;
                var vdbclickAction = string.Format("Forms.LoadAjaxRight('{0}', this);", Url.Action("Edit", new { id = item.CODE }));
            <tr>
                <td ondblclick="@vdbclickAction">
                    <a href="#" onclick="@vdbclickAction">@item.CODE</a>
                </td>
                <td ondblclick="@vdbclickAction">@item.NAME</td>
                <td ondblclick="@vdbclickAction">@item.COMPANY_CODE</td>
                <td ondblclick="@vdbclickAction">@item.PROJECT_CODE</td>
            </tr>
            }
        </tbody>
    </table>
</div>
@{ Html.RenderPartial("Paging", Model); }
