@model IList<T_MD_REVENUE_CF_ELEMENT>
@using SMO.Core.Entities.MD;
@using System.Text;

@{
    var detailRevenueElements = ViewBag.detailRevenueElements as IList<T_MD_TEMPLATE_DETAIL_REVENUE_CF>;
    var viewId = Guid.NewGuid().ToString();
}
<div id="@viewId" class="container-fluid child-content">
    <div class="card">
        <div class="body" style="padding-top: 0px">

            @if (detailRevenueElements == null || detailRevenueElements.Count == 0)
            {
                <div class="p-t-10">
                    @Html.MyButton("cmdBack", "Quay lại", $"Forms.Close('{viewId}');", "Alt+N", "arrow_back")
                </div>
                <div class="p-t-10">
                    @{
                        Html.RenderPartial("_NothingData");
                    }
                </div>
            }
            else
            {
                <div class="p-t-10">
                    @Html.MyButton("cmdBack", "Quay lại", $"Forms.Close('{viewId}');", "Alt+N", "arrow_back")
                    @Html.MyButton("cmdDownloadTemlate",
                                                "Download mẫu",
                                                "DownloadTemplate();",
                                                "Alt+V", "file_download")
                </div>
                <div class="p-t-10">
                    <div class="body-content">
                        <div class="table-responsive" style="max-height: calc(100vh - 140px)">
                            <table class="table table-condensed table-bordered table-striped table-pre-whitespace">
                                <thead>
                                    <tr>
                                        <th colspan="10"></th>
                                        @for (int i = 0; i < 12; i++)
                                        {
                                            <th colspan="4" class="align-center">Tháng @(i + 1)</th>
                                        }
                                        <th colspan="2" class="align-center">Tổng năm</th>
                                        <th colspan="2" class="align-center">Trung bình tháng</th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th>Mã công ty</th>
                                        <th>Tên công ty</th>
                                        <th>Mã dự án</th>
                                        <th>Tên dự án</th>
                                        <th>Mã loại hình</th>
                                        <th style="min-width: 200px;">Tên loại hình</th>
                                        <th>Mã khoản mục</th>
                                        <th>Tên khoản mục</th>
                                        <th>Hàng hóa, dịch vụ</th>
                                        <th>Đơn vị tính</th>
                                        @for (int i = 0; i < 14; i++)
                                        {
                                            <th>Số lượng</th>

                                            if (i < 12)
                                            {
                                                <th>Thời gian</th>
                                                <th>Đơn giá</th>
                                            }
                                            <th>Thành tiền</th>
                                        }

                                        <th>Ghi chú</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var detail in detailRevenueElements.GroupBy(x => x.CENTER_CODE).Select(x => x.First()).OrderByDescending(x => x.CENTER_CODE))
                                    {
                                        foreach (var item in Model
                                            .Where(x => x.CENTER_CODE == detail.CENTER_CODE)
                                            .OrderBy(x => x.C_ORDER)
                                            .GroupBy(x => x.CODE)
                                            .Select(x => x.First()))
                                        {
                                            var space = new StringBuilder();
                                            for (int i = 0; i < item.LEVEL; i++)
                                            {
                                                space.Append("\t");
                                            }
                                            var classParent = item.IS_GROUP ? "strong" : string.Empty;
                                            <tr class="@classParent">

                                                <td>@(detail.Center.COMPANY_CODE)</td>
                                                <td>@(detail.Center.Company.NAME)</td>
                                                <td>@(detail.Center.PROJECT_CODE)</td>
                                                <td>@(detail.Center.Project.NAME)</td>
                                                <td>@(detail.CENTER_CODE)</td>
                                                <td>@(detail.Center.NAME)</td>
                                                <td>@item.CODE</td>
                                                <td class="pre-whitespace @classParent">@($"{space.ToString()}{item.NAME}")</td>
                                                @for (int i = 0; i < 2 + 4 * 12 + 4 + 1; i++)
                                                {
                                                    <td></td>
                                                }
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>