@model SMO.Service.AD.UserService
@{
    Model.ViewId = Guid.NewGuid().ToString();
    Model.FormId = Guid.NewGuid().ToString();
    var frmCode = "frm_Authorize_ChangePassword";

    var title = LanguageUtilities.LangText("lblTitle1", frmCode);
    if (ProfileUtilities.User.LAST_CHANGE_PASS_DATE.HasValue)
    {
        TimeSpan ts = DateTime.Now.Subtract(ProfileUtilities.User.LAST_CHANGE_PASS_DATE.Value);
        if (ts.TotalDays > 60)
        {
            title = LanguageUtilities.LangText("lblTitle2", frmCode);
        }
    }
}
<div class="modal-body">
    <div id='@Model.ViewId' class="content">
        @using (Ajax.BeginForm("ChangePassword", null, FormDataUtils.GetAjaxOptions(Model.ViewId), new { @id = Model.FormId }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.ObjDetail.USER_NAME)
            @Html.HiddenFor(m => m.ObjDetail.FULL_NAME)
            <div class="card">
                <div class="body" style="padding-top: 0px;">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a style="padding-left:0px"><i class="material-icons">clear_all</i> @title</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="page-function">
                            <div class="page-function-button m-r-20">
                                @Html.MyButton("cmdSave", LanguageUtilities.LangText("cmdSave", frmCode), string.Format("Forms.SubmitForm('{0}');", @Model.FormId), "Alt+S", "done_all")
                            </div>
                        </div>

                        <div class="row m-t-20">
                            <div class="col-lg-1 visible-lg visible-md visible-sm"></div>
                            <div class="col-lg-10 col-xs-12">
                                <label>@LanguageUtilities.LangText("lblMatKhauCu", frmCode)</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        @Html.MyTextBoxFor(m => m.ObjDetail.OLD_PASSWORD, new { @type = "password" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.ObjDetail.OLD_PASSWORD)
                                </div>

                                <label>@LanguageUtilities.LangText("lblMatKhauMoi", frmCode)</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        @Html.MyTextBoxFor(m => m.ObjDetail.PASSWORD, new { @type = "password" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.ObjDetail.PASSWORD)
                                </div>

                                <label>@LanguageUtilities.LangText("lblNhapLai", frmCode)</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        @Html.MyTextBoxFor(m => m.ObjDetail.RETRY_PASSWORD, new { @type = "password" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.ObjDetail.RETRY_PASSWORD)
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
    <script type="text/javascript">
        $(function () {
            Forms.CompleteUI();
            Forms.SubmitByEnter("@Model.FormId");
        });
    </script>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">✖</button>
</div>

