@using SMO.Core.Entities;

@{
    var headerRevenuePL = ViewBag.Header as T_BP_REVENUE_PL;
    if (headerRevenuePL == null)
    {
        var headerRevenuePLVerion = new T_BP_REVENUE_PL_VERSION();
        headerRevenuePLVerion = ViewBag.Header;
        var hasVersion = ViewBag.HasVersion as bool?;
        var templateName = string.IsNullOrEmpty(headerRevenuePLVerion.TEMPLATE_CODE) ? "Dữ liệu tổng hợp" : $"{headerRevenuePLVerion.TEMPLATE_CODE} - {headerRevenuePLVerion.Template.NAME}";
        <div class="body">
            <div class="table-responsive font-13">
                <table class="table">
                    <tr>
                        <td>
                            <b>Đơn vị</b>
                            <div>@(headerRevenuePLVerion.ORG_CODE) - @(headerRevenuePLVerion.Organize?.NAME)</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Mẫu khai báo</b>
                            <div>@templateName</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Năm kế hoạch</b>
                            <div>@headerRevenuePLVerion.TIME_YEAR</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Version</b>
                            <div>@headerRevenuePLVerion.VERSION</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Người tạo</b>
                            <div>@headerRevenuePLVerion.CREATE_BY</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Ngày tạo</b>
                            <div>@(headerRevenuePLVerion.CREATE_DATE?.ToString(Global.DateTimeToStringFormat))</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
    else
    {
        var templateName = string.IsNullOrEmpty(headerRevenuePL.TEMPLATE_CODE) ? "Dữ liệu tổng hợp" : $"{headerRevenuePL.TEMPLATE_CODE} - {headerRevenuePL.Template.NAME}";
        <div class="body">
            <div class="table-responsive font-13">
                <table class="table">
                    <tr>
                        <td>
                            <b>Đơn vị</b>
                            <div>@(headerRevenuePL.ORG_CODE) - @(headerRevenuePL.Organize?.NAME)</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Mẫu khai báo</b>
                            <div>@templateName</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Năm kế hoạch</b>
                            <div>@headerRevenuePL.TIME_YEAR</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Version</b>
                            <div>@headerRevenuePL.VERSION</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Trạng thái</b>
                            <div>@Approve_Status.GetStatusText(headerRevenuePL.STATUS)</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Người tạo</b>
                            <div>@headerRevenuePL.CREATE_BY</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Ngày tạo</b>
                            <div>@(headerRevenuePL.CREATE_DATE?.ToString(Global.DateTimeToStringFormat))</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
}

