@model SMO.Service.BP.RevenuePLService
@{
    Model.ViewId = Guid.NewGuid().ToString();
    Model.FormId = Guid.NewGuid().ToString();
}
<div id='@Model.ViewId' class="container-fluid child-content">
    @using (Ajax.BeginForm("ListOfChild", null, FormDataUtils.GetAjaxOptions(Model.ViewId), new { @id = Model.FormId }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.FormId)
        <div class="card border-grey">
            <div class="body" style="padding-top: 0px;">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a style="padding-left:0px"><i class="material-icons col-fecon">clear_all</i> KẾ HOẠCH CHI PHÍ KINH DOANH CỦA CẤP DƯỚI</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="page-function">
                        <div class="page-function-button m-r-20">
                            @Html.MyButton("cmdBack", "Quay lại", string.Format("Forms.Close('{0}');", @Model.ViewId), "Alt+N", "arrow_back")
                            @Html.MyButton("cmdTongHop", "Tổng hợp dữ liệu", string.Format("Forms.LoadAjax('{0}');", @Url.Action("SumUpDataIndex", "RevenuePL")), "", "dvr")
                            @Html.MyButton("cmdViewHisTongHop", "Xem lịch sử tổng hợp", string.Format("Forms.LoadAjax('{0}');", @Url.Action("HistorySumUp", new { orgCode = ProfileUtilities.User.ORGANIZE_CODE })), "", "history")
                        </div>
                    </div>

                    <div id="divResult">

                    </div>
                </div>
            </div>
        </div> 
    }

    <script type="text/javascript">
        function SubmitIndex() {
            Forms.SubmitForm('@Model.FormId');
        }

        $(function () {
            Forms.SubmitForm('@Model.FormId');
            Forms.CompleteUI();
            Forms.SubmitByEnter("@Model.FormId");
        });
    </script>
</div>


